header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color:purple;
}

.name-header {
  flex:1;
  color:white;
  font-size: 13px;
}

:host {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}


