:host {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
footer {
  background-color: orange;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
