.square {
  width: 200px;
  height: 200px;
  border: 1px solid white;
  justify-content: center;
  align-items: center;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}
